.vs
.vscode
.DS_Store
.devcontainer
**/__pycache__/
*.pyc
*.ini
*.svg
*.eps
.dropbox
/bash/
/data/
/ref
/result
/output
/output*/

abandon
prev_projects
ref
*workspace.py
*workspace.pyproj
*workspace.sln

dogfish
tiny_imagenet