# Configureation Files
.vs
.vscode
.devcontainer
.idea

# Working on
# /docs
codecov.yml
/setup.py

# Temp Files
.DS_Store
.dropbox
.ssh
.ipynb_checkpoints
*.pyc
*.ini
__pycache__
/build
/dist
/*.egg-info
.pytest_cache

# Filter Directory
/configs
/cmd_config
/data
/result
/projects
/tex

# Other projects
/lifelong

# test file
/test.py
