{%- set external_urls = {
  'github': 'https://github.com/ain-soph/trojanzoo/',
  'home': 'https://ain-soph.github.io/',
  'items': {
    'AlpsPlot': 'https://ain-soph.github.io/alpsplot',
    'TrojanZoo': '',
    'trojanzoo_sphinx_theme': 'https://ain-soph.github.io/trojanzoo_sphinx_theme',
    'base': 'https://github.com/ain-soph/base',
  },
  'collapsedSections':[],
}
-%}