{%- set external_urls = {
  'github': 'https://github.com/ain-soph/Trojan-Zoo',
  'github_issues': 'https://github.com/ain-soph/Trojan-Zoo/issues',
  'contributing': 'https://github.com/ain-soph/Trojan-Zoo/blob/master/CONTRIBUTING.md',
  'docs': 'https://www.google.com/',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://pytorch.org/tutorials',
  'home': 'https://pytorch.org/',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'mobile': 'https://pytorch.org/mobile',
  'hub': 'https://pytorch.org/hub',
  'youtube': 'https://www.youtube.com/pytorch',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf'
}
-%}