{%- set external_urls = {
  'github': 'https://github.com/ain-soph/Trojan-Zoo',
  'github_issues': 'https://github.com/ain-soph/Trojan-Zoo/issues',
  'contributing': 'https://github.com/ain-soph/Trojan-Zoo/blob/master/CONTRIBUTING.md',
  'docs': 'https://ain-soph.github.io/trojanzoo',
  'tutorials': 'https://pytorch.org/tutorials',
}
-%}