{%- set external_urls = {
  'github': 'https://github.com/ain-soph/trojanzoo',
  'github_issues': 'https://github.com/ain-soph/trojanzoo/issues',
  'contributing': 'https://github.com/ain-soph/trojanzoo/blob/master/CONTRIBUTING.md',
  'docs': 'https://ain-soph.github.io/trojanzoo',
  'home': 'https://ain-soph.github.io/trojanzoo',
  'vision': 'https://ain-soph.github.io/trojanzoo/torchvision/',
}
-%}
